<div class="container" [ngClass]="{'home' :  home}">
  <app-search-engine></app-search-engine>

  <div *ngIf="searchPageResults" class="search-results__container">
      <!-- <div>Total Records: {{totalCount}}</div> -->
    <hr class="mt-5 mb-5">
    <div class="row mb-3 search-tile" *ngFor="let searchEngineItem of searchPageResults">
      <div>
        <div>
          <cite>{{searchEngineItem.firstName}} -
            <span class="user-company">{{searchEngineItem.company}}</span>
          </cite>
        </div>
        <h3>{{searchEngineItem.address}}</h3>

      </div>
    </div>

    <div class="row pagination mb-5">
      <a class="mr-2" href="#" *ngIf="currentPage > 1" (click)="getSearchResultsByPage(currentPage - 1)">Previous</a>
       <div class="page-no">
           <a [ngClass]="{'page-selected' : currentPage == page.id}" class="mr-2" href="#" (click)="getSearchResultsByPage(page.id)" *ngFor="let page of listOfPages; let i=index">{{page.id}}</a>
       </div>
       <a href="#" *ngIf="currentPage < noOfPages" (click)="getSearchResultsByPage(currentPage + 1)">Next</a>
    </div>

  </div>


</div>
