.container{
    padding: 16px 0;
}

.search-tile{

    padding: 10px;
}

.user-company{
    color: #1a0dab;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-selected{
    color: black;
}

.search-results__container{
    margin-left: 6%;
}